<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">

    <meta charset="UTF-8"/>
    <title>ReactJS + Spring Data REST</title>

    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/react-sidenav.css"/>

    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.min.css"/>

</head>
<body id="react" class="main">

<!--<div id="react"></div>-->

<script src="/built/bundle.js"></script>
<script src="/webjars/jquery/jquery.min.js"/>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"/>
<script src="/webjars/font-awesome/js/all.min.js"/>


</body>
</html>