<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">

	<meta charset="UTF-8"/>
	<title>Login</title>


	<link href="/css/main.css" rel="stylesheet"/>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/webjars/font-awesome/css/all.min.css" rel="stylesheet"/>

</head>
<body class="column">

<section class="bg-primary d-flex flex-column" id="welcome" style="min-height:100vh;">
	<div class="container text-center my-auto">
		<div class="card" style="margin: auto; width: 18rem;">
			<div class="card-body">
				<legend class="card-title" style="text-align: center">Sign Up</legend>
				<form action="/register" method="post" th:object="${user}">

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
						</div>
						<input aria-describedby="basic-addon1"
								aria-label="Username"
								class="form-control"
								placeholder="Username"
								th:field="*{username}"
								type="text">
						<div class="invalid-feedback" th:each="error: ${#fields.errors('username')}" style="display: block">
							<th:block th:text="${error}"></th:block>
						</div>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon2"><i class="fas fa-lock"></i></span>
						</div>
						<input aria-describedby="basic-addon2"
								aria-label="Password"
								class="form-control"
								placeholder="Password"
								th:field="*{password}"
								type='password'>
						<div class="invalid-feedback" th:each="error: ${#fields.errors('password')}" style="display: block">
							<th:block th:text="${error}"></th:block>
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text" id="basic-addon2"><i class="fas fa-lock"></i></span>
						</div>
						<input aria-describedby="basic-addon2"
								aria-label="Password"
								class="form-control"
								placeholder="Confirm Password"
								th:field="*{matchingPassword}"
								type="password">
					</div>

					<div class="alert alert-danger" id="errors" role="alert" th:if="${(param.error != null) and (param.error[0] == 'true')}">
						That didn't work. Password or Username was incorrect.
					</div>

					<div class="btn-group" role="group">
						<button class="btn btn-primary" type="submit">Sign Up</button>
						<a class="btn btn-light" href="/login" role="button" th:unless="${noLogin}">Sign In</a>
					</div>

				</form>
			</div>
		</div>
	</div>
</section>


<script src="/webjars/jquery/jquery.min.js"/>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"/>
<script src="/webjars/font-awesome/js/all.min.js"/>

</body>
</html>